/*Admin stylesheet*/
*{
    margin:  0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin:0 auto;
}
.footer-text-center{
    text-align: center;
}
.clearfix{
    float:none;
    clear:both;
}


/*Menu css*/
.menu{
    border-bottom: 1px solid grey;
    text-align: center;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(244, 18, 67);
    padding: 5px;
    background-color: rgb(243, 248, 248);
}
.menu ul li a:hover{
    color:rgb(7, 5, 5);
}
.logo{
    width: 10%;
    float: left;
}
.logo-img{
    width:50px;
}
/*main content*/
.main-content{
    background-color: rgb(248, 250, 250);
    padding: 3% 0;
}
.col-4{
    width: 18%;
    border:1px solid black;
    background-color:white;
    margin: 1%; 
    padding: 2%;
    text-align: center;
    float:left;
}
/*manage Admin*/
.primarybtn{
    background-color: rgb(33, 86, 177);
    text-decoration: none;
    color:white;
    padding: 1%;
    font-weight: bolder;
}
.primarybtn:hover{
    background-color: rgb(6, 9, 184);
}
.secondarybtn{
    background-color: rgb(62, 248, 130);
    text-decoration: none;
    color:black;
    padding: 1%;
    font-weight: bolder;
}
.secondarybtn:hover{
    background-color: rgb(0, 116, 31);
}
.temprarybtn{
    background-color: rgba(215, 94, 94, 0.884);
    text-decoration: none;
    color:black;
    padding: 1%;
    font-weight: bolder;
}
.temprarybtn:hover{
    background-color: rgba(150, 0, 0, 0.934);
}
.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid rgb(215, 18, 18);
    padding:1%;
    text-align: center;
}
table tr td{
    padding: 1%;
    text-align: center;
}
/*Add Admin page and delete admin*/
.successmessage{
    color:rgb(240, 11, 7);
    font-weight: bolder;
}
.errormessage{
    color:red;
    font-weight: bolder;
}
/*Footer csss*/
.footer{
    background-color: rgb(79, 89, 223);
    color: aliceblue;
}
.footer-link{
    text-decoration: none;
    color:rgb(11, 12, 12);
}

.text-center{
    text-align: center;
}
/*dashboard*/
.datebutton{
    text-align: center;
}
.datebutton ul{
    list-style-type: none;
}
.datebutton ul li{
    background-color: #ec0a2c;
    color: white;
    cursor: pointer;
    padding: 2%;
    display: inline;
    margin-left: 10%;
}
.datebutton ul li a{
    text-decoration: none;
    font-weight: bold;
    color:white;
}
.datebutton ul li a:hover{
    color:rgb(7, 5, 5);
}
.datebutton ul li a:active{
    color:rgb(27, 26, 26);
}
