/* Reset some default styles */
h1, p{
    margin: 0;
    padding: 0;  
}
body {
    margin: 0;
    padding: 0;
    background: url('home.jpg') no-repeat;
    background-position: center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
}


/* Style the page header */
h1 {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

/* Center the content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the form */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style form labels and inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}